<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <br><br> <br>
    <h1>Buy Tickets</h1>

    <form   method="POST" action="/flights/<%= flightId %>/tickets">
     <label>
          Seat:
          <input name="seat" required pattern="[A-F][1-9]\d?">

     </label>
        <br>
     <label>
       Price: 
       <input type="number" min="0" name="price">
     </label>

   <input type="submit" value="Add now">
    </form>
</body>
</html>