<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <section class="container">
    <h1 class="center-align">Buy Tickets</h1 c>
     
    <form   method="POST" action="/flights/<%= flightId %>/tickets">
     <label>
          Seat:
          <input name="seat" required pattern="[A-F][1-9]\d?">

     </label>
        <br>
     <label>
       Price: 
       <input type="number" min="0" name="price">
     </label>

   <input type="submit" value="Add now" class="btn">
    </form>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>