<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <button><a href="/flights/new">New flights</a></button>
      <button><a href="/flights">All flights</a></button>
    </nav>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    
  </body>
</html>
