body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(244, 248, 250);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
 
}

nav > button {
  background-color: rgb(17, 159, 202);
  height: 40px;
  border: none
}

