body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}




nav > button {
  background-color: rgb(17, 159, 202);
  height: 40px;
  border: none
}

.hide-on-med-and-down{
  font-size: 25px;
  margin-left: 10px;
  text-transform: capitalize;
}


